@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #201b2c;
   color: rgb(123, 124, 124);
   /* definindo paddin de 42px em toda a área da tela */
   padding: 42px;
   font-family: 'Inter', sans-serif;

}

/* tornando os elemento flex, e setando o alinhamento centralizado de seus itens tanto horizontal quanto verticalmente  */
.container,
.display-left,
.display-right,
.card,
.aviso,
.text,
.rodape,
.btn {
   display: flex;
   justify-content: center;
   align-items: center;

}

.fa {
   color: orange;
}

header img {
   position: absolute;
   top: 51px;
   left: 50px;

}

.container {
   /* definindo toda a area ocupada pelos elemento na tela */
   width: 100%;
   height: 100%;

}

.text {
   flex-direction: column;
   padding: 20px;
}

.text>textarea {
   width: 100%;
   border: none;
   border-radius: 10px;
   outline: none;
   box-sizing: border-box;
   padding: 10px;
   box-shadow: 3px 7px 23px -6px rgba(0, 0, 0, 0.75);
   text-align: center;
   background: #514869;
   color: tomato
}

/*  posicionamento do conteudo em coluna */
.display-right,
.card,
.display-left {
   flex-direction: column;
}

.display-left {
   background-color: #2d263d;
   /* setando o card para 80% da largura da div pai */
   width: 80%;
   height: 80vh;
   padding: 20px;
   border-radius: 20px 0 0 20px;

}

.display-left>h1 {
   position: absolute;
   top: 150px;
   font-weight: 700;
   /* font-size: 4vw; */
   font-size: clamp(2em, 3vw, 2em);
}

.aviso {
   margin-top: 20px;
}

.btn {
   /* flex-wrap: wrap; */
   position: absolute;
   margin-bottom: -500px;
   width: 20%;
   gap: 10px;
   margin-top: -162px;

}

.display-right {
   background-color: rgb(255, 255, 255);
   /* setando o card para 50% da largura da div pai */
   width: 50%;
   height: 80vh;
   border-radius: 0 20px 20px 0;
   padding: 0 20px;

}

.display-left,
.card {
   text-align: center;
}

.btn-item {
   border: none;
   border-radius: 10px;
   width: 190px;
   height: 40px;
   padding: 10px;
   text-transform: uppercase;
   letter-spacing: 3px;
   background: #7346db;
   margin-top: 20px;
   cursor: pointer;
   box-shadow: 3px 7px 23px -6px rgba(0, 0, 0, 0.75);
   transition: .3s ease;
   color: tomato;

}

.btn-item:hover {
   background: orange;
   color: rgb(77, 77, 64);
}

.rodape {
   position: relative;
   bottom: -20px;

   background-color: #2d263d;
   margin-top: 10px;
   height: 5vh;
   width: 100%;
   border-radius: 15px;

}


/* boxshadow */
/* https://www.cssmatic.com/box-shadow */

@media only screen and (max-width: 738px) {
   body {
      padding: 0;
   }

   .display-left,
   .display-right {
      width: 100%;
      height: 80vh;
      border-radius: 0;
   }


   .container {
      flex-wrap: wrap;
   }

   .btn {
      
      flex-wrap: wrap;
   }

}